/*ROBOTO*/


@font-face {
	font-family: Roboto-Black; 
	src: url(Roboto/Roboto-Black.ttf); 
}

@font-face {
	font-family: Roboto-Bold; 
	src: url(Roboto/Roboto-Bold.ttf); 
}

@font-face {
	font-family: Roboto-Light; 
	src: url(Roboto/Roboto-Light.ttf); 
}

@font-face {
	font-family: Roboto-Medium; 
	src: url(Roboto/Roboto-Medium.ttf); 
}

@font-face {
	font-family: Roboto-Regular; 
	src: url(Roboto/Roboto-Regular.ttf); 
}

@font-face {
	font-family: Roboto-Thin; 
	src: url(Roboto/Roboto-Thin.ttf); 
}


/*POBOTO SLAB*/


@font-face {
	font-family: RobotoSlab-Black; 
	src: url(Roboto_Slab/RobotoSlab-Black.ttf); 
}

@font-face {
	font-family: RobotoSlab-Bold; 
	src: url(Roboto_Slab/RobotoSlab-Bold.ttf); 
}

@font-face {
	font-family: RobotoSlab-Light; 
	src: url(Roboto_Slab/RobotoSlab-Light.ttf); 
}

@font-face {
	font-family: RobotoSlab-Medium; 
	src: url(Roboto_Slab/RobotoSlab-Medium.ttf); 
}

@font-face {
	font-family: RobotoSlab-Regular; 
	src: url(Roboto_Slab/RobotoSlab-Regular.ttf); 
}

@font-face {
	font-family: RobotoSlab-Thin; 
	src: url(Roboto_Slab/RobotoSlab-Thin.ttf); 
}